
// Весь хедер
.header__container {
    background: url(/img/bg_element_.png);
    width: 100%;
    max-width: 1365px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    @media (max-width: 1024px) and (min-width: 993px) {
      max-width: 970px;
    }
    @media (max-width: 992.99px) and (min-width: 768px) {
      max-width: 750px;
    }
    @media (max-width: 767.99px) {
      max-width: none;
    }
    .header{
        display: flex;
        flex-direction: column;
        width: 1168px;
        border: solid black 1px;
        &__top{
            display: flex;
            flex-direction: row;
        }
        &__list{
            display: flex;
            flex-direction: row;
        }
    }
}
