@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700,800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  margin: 0 auto;
  font-family: Roboto;
}

.container a {
  color: #fff;
}

.container .header {
  position: relative;
  min-height: 100vh;
  background-image: url(../img/header/img-header.png);
  background-size: cover;
  background-position: 50% 50%;
  color: #ffffff;
}

.container .header .header__overlay {
  position: absolute;
  z-index: 2;
  background-color: rgba(45, 54, 81, 0.7);
  width: 100%;
  height: 100%;
}

.container .header .header__menu {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.container .header .header__menu .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 40px 30px 40px 30px;
}

.container .header .header__menu .header__nav .header__logo {
  font-family: Roboto;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 4.8px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
}

.container .header .header__menu .header__nav .header__logo::before {
  content: '';
  border: solid 3px #d53d27;
  width: 80px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: -5px;
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  transform: translatey(-50%);
}

.container .header .header__menu .header__nav .header__burger {
  display: none;
}

.container .header .header__menu .header__nav .header__nav-bottons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: Roboto;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 1.53px;
  line-height: 20px;
}

.container .header .header__menu .header__nav .header__nav-bottons.active {
  display: block;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.container .header .header__menu .header__nav .header__nav-bottons .header__nav-list {
  padding: 0 20px 0 20px;
}

.container .header .header__menu .header__nav .header__nav-bottons .header__nav-list a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.container .header .header__menu .header__nav .header__nav-bottons .header__nav-list:hover a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #d66926;
}

.container .header .header__menu .header__nav .header__nav-bottons .header__nav-list:last-child {
  padding: 0 0 0 20px;
}

.container .header .header__menu .header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.container .header .header__menu .header__title .header__company-name {
  font-family: "Roboto Slab";
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  padding: 122px 0 0 0;
  width: 100%;
}

.container .header .header__menu .header__title .header__buttoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
}

.container .header .header__menu .header__title .header__buttoms .header__buttom {
  margin: 60px 20px 0 0;
}

.container .header .header__menu .header__title .header__buttoms .header__buttom:last-child {
  margin: 60px 0 0 0;
}

.container .header .header__menu .header__title .header__buttoms .header__buttom .btn {
  font-family: Roboto;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  display: block;
  letter-spacing: 1.89px;
  padding: 19px 68px;
  border: solid 2px #f9f9fa;
  background-color: rgba(67, 72, 87, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.container .header .header__menu .header__title .header__buttoms .header__buttom .btn:hover {
  background-color: #d66926;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.container .header__burger {
  height: 20px;
  width: 30px;
  position: relative;
}

.container .header__burger::after, .container .header__burger::before,
.container .header__burger span {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.container .header__burger::after {
  bottom: 0;
}

.container .header__burger span {
  top: 50%;
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  transform: translatey(-50%);
}

.container .header__burger.active {
  z-index: 5;
}

.container .header__burger.active::after {
  top: 50%;
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  transform: translatey(-50%);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.container .header__burger.active span {
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.container .header__burger.active::before {
  top: 50%;
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  transform: translatey(-50%);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.skills__container {
  margin: 10px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "bl1 bl1 bl2 bl3" "bl4 bl5 bl5 bl6" "bl7 bl8 bl9 bl6";
}

.skills__container .skill__item {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: calc(33vh - 12px);
  overflow: hidden;
}

.skills__container .skill__item:hover .skill__item__img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.skills__container .skill__item__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(45, 54, 81, 0.8);
  z-index: -1;
}

.skills__container .skill__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: -2;
}

.skills__container .skill__item__title {
  height: 100%;
  z-index: 5;
}

.skills__container .skill__item__title .skill__item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto;
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1.5px;
  z-index: 5;
}

.skills__container .skill__item__title .skill__item__link:hover {
  color: #d66926;
}

.skills__container .skill__item:nth-child(1) {
  grid-area: bl1;
}

.skills__container .skill__item:nth-child(2) {
  grid-area: bl2;
}

.skills__container .skill__item:nth-child(3) {
  grid-area: bl3;
}

.skills__container .skill__item:nth-child(4) {
  grid-area: bl4;
}

.skills__container .skill__item:nth-child(5) {
  grid-area: bl5;
}

.skills__container .skill__item:nth-child(6) {
  grid-area: bl6;
}

.skills__container .skill__item:nth-child(7) {
  grid-area: bl7;
}

.skills__container .skill__item:nth-child(8) {
  grid-area: bl8;
}

.skills__container .skill__item:nth-child(9) {
  grid-area: bl9;
}

.skils__botn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0 40px 0;
  width: calc(100% - 20px);
}

.skils__botn .botn {
  font-family: Roboto;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ffffff;
  display: inline-block;
  border: 2px solid #2d3651;
  background-color: rgba(45, 54, 81, 0.8);
  padding: 19px 95px;
}

.skils__botn .botn:hover {
  background-color: #d66926;
}

@media (max-width: 991.99px) and (min-width: 768px) {
  .skills__container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "bl1 bl1 bl2" "bl3 bl4 bl4" "bl5 bl5 bl6" "bl7 bl8 bl6" "bl7 bl9 bl9";
  }
}

@media (max-width: 991.9px) and (min-width: 768px) {
  .container .header .header__menu .header__title .header__company-name {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 3.2px;
    padding: 78px 0 0 0;
  }
  .container .header .header__menu .header__title .header__buttoms .header__buttom {
    margin: 47px 20px 0 0;
  }
  .container .header .header__menu .header__title .header__buttoms .header__buttom:last-child {
    margin: 47px 0 0 0;
  }
  .container .header .header__menu .header__title .header__buttoms .header__buttom .btn {
    padding: 15px 50px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    letter-spacing: 1.6px;
  }
}

@media (max-width: 768px) {
  .container .header .header__menu .header__nav {
    background-color: rgba(67, 72, 87, 0.4);
  }
  .container .header .header__menu .header__nav .header__burger {
    display: block;
  }
  .container .header .header__menu .header__nav .header__nav-bottons {
    position: absolute;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    right: 0;
    top: 100px;
    display: none;
    background-color: rgba(45, 54, 81, 0.85);
  }
  .container .header .header__menu .header__nav .header__nav-bottons .header__nav-list {
    padding: 10px 20px;
  }
  .container .header .header__menu .header__nav .header__nav-bottons .header__nav-list:last-child {
    padding: 10px 0 10px 0;
  }
}

@media (max-width: 767.99px) and (min-width: 576px) {
  .container .header .header__menu .header__title .header__company-name {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2.4px;
    padding: 88px 0 0 0;
  }
  .container .header .header__menu .header__title .header__buttoms .header__buttom {
    margin: 47px 20px 0 0;
  }
  .container .header .header__menu .header__title .header__buttoms .header__buttom:last-child {
    margin: 47px 0 0 0;
  }
  .container .header .header__menu .header__title .header__buttoms .header__buttom .btn {
    padding: 10px 33px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    letter-spacing: 1.6px;
  }
  .skills__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "bl1 bl2" "bl3 bl2" "bl4 bl4" "bl5 bl6" "bl5 bl7" "bl8 bl9";
  }
}

@media (max-width: 575.99px) {
  .container .header .header__menu .header__title .header__company-name {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2.4px;
    padding: 36px 0 0 0;
    line-height: 1.2;
  }
  .container .header .header__menu .header__title .header__buttoms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .container .header .header__menu .header__title .header__buttoms .header__buttom {
    margin: 44px 0 0 0;
  }
  .container .header .header__menu .header__title .header__buttoms .header__buttom:last-child {
    margin: 20px 0 0 0;
  }
  .container .header .header__menu .header__title .header__buttoms .header__buttom .btn {
    padding: 10px 35px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    letter-spacing: 1.6px;
  }
  .skills__container {
    margin: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "bl1" "bl2" "bl3" "bl4" "bl5" "bl6" "bl7" "bl8" "bl9";
  }
  .skills__container .skill__item {
    min-height: 43vh;
  }
  .skils__botn {
    width: calc(100% - 40px);
    padding: 0 0 25px 0;
  }
  .skils__botn .botn {
    padding: 19px 0;
    width: 100%;
    text-align: center;
  }
}
