@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700,800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  margin: 0 auto;
  font-family: Roboto;
}

.container a {
  color: #fff;
}

.container .header {
  position: relative;
  min-height: 100vh;
  background-image: url(../img/header/img-header.png);
  background-size: cover;
  background-position: 50% 50%;
  color: #ffffff;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
}

.container .header .header__overlay {
  position: absolute;
  z-index: 0;
  background-color: rgba(45, 54, 81, 0.7);
  width: 100%;
  height: 100%;
}

.container .header .header__menu {
  position: absolute;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.container .header .header__menu .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1340px;
  position: relative;
  padding: 40px 20px 40px 27px;
}

.container .header .header__menu .header__nav .header__logo {
  font-family: Roboto;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 4.8px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
}

.container .header .header__menu .header__nav .header__logo::before {
  content: '';
  border: solid 3px #d53d27;
  width: 80px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: -5px;
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  transform: translatey(-50%);
}

.container .header .header__menu .header__nav .header__burger {
  display: none;
}

.container .header .header__menu .header__nav .header__nav-bottons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: Roboto;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 1.53px;
  line-height: 20px;
}

.container .header .header__menu .header__nav .header__nav-bottons.active {
  position: absolute;
  display: block;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  z-index: 20;
  right: 20px;
}

.container .header .header__menu .header__nav .header__nav-bottons .header__nav-list {
  padding: 0 20px 0 20px;
}

.container .header .header__menu .header__nav .header__nav-bottons .header__nav-list a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.container .header .header__menu .header__nav .header__nav-bottons .header__nav-list:hover a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #d66926;
}

.container .header .header__menu .header__nav .header__nav-bottons .header__nav-list:last-child {
  padding: 0 0 0 20px;
}

.container .header .header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.container .header .header__title.active {
  z-index: 0;
}

.container .header .header__title .header__company-name {
  font-family: "Roboto Slab";
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  width: 100%;
}

.container .header .header__title .header__buttoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
}

.container .header .header__title .header__buttoms.active {
  z-index: 0;
}

.container .header .header__title .header__buttoms .header__buttom {
  margin: 60px 20px 0 0;
}

.container .header .header__title .header__buttoms .header__buttom:last-child {
  margin: 60px 0 0 0;
}

.container .header .header__title .header__buttoms .header__buttom .btn {
  font-family: Roboto;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  display: block;
  letter-spacing: 1.89px;
  padding: 19px 68px;
  border: solid 2px #f9f9fa;
  background-color: rgba(67, 72, 87, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.container .header .header__title .header__buttoms .header__buttom .btn:hover {
  background-color: #d66926;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.container .header__burger {
  height: 20px;
  width: 30px;
  position: relative;
}

.container .header__burger::after, .container .header__burger::before,
.container .header__burger span {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.container .header__burger::after {
  bottom: 0;
}

.container .header__burger span {
  top: 50%;
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  transform: translatey(-50%);
}

.container .header__burger.active {
  z-index: 15;
}

.container .header__burger.active::after {
  top: 50%;
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  transform: translatey(-50%);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.container .header__burger.active span {
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.container .header__burger.active::before {
  top: 50%;
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  transform: translatey(-50%);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.skills__container {
  margin: 10px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "bl1 bl1 bl2 bl3" "bl4 bl5 bl5 bl6" "bl7 bl8 bl9 bl6";
}

.skills__container .skill__item {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: calc(37vh - 12px);
  overflow: hidden;
}

.skills__container .skill__item:hover .skill__item__img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.skills__container .skill__item__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(45, 54, 81, 0.8);
  z-index: -1;
}

.skills__container .skill__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: -2;
}

.skills__container .skill__item__title {
  height: 100%;
  z-index: 5;
}

.skills__container .skill__item__title .skill__item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  z-index: 5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.skills__container .skill__item__title .skill__item__link:hover {
  color: #d66926;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.skills__container .skill__item:nth-child(1) {
  grid-area: bl1;
}

.skills__container .skill__item:nth-child(2) {
  grid-area: bl2;
}

.skills__container .skill__item:nth-child(3) {
  grid-area: bl3;
}

.skills__container .skill__item:nth-child(4) {
  grid-area: bl4;
}

.skills__container .skill__item:nth-child(5) {
  grid-area: bl5;
}

.skills__container .skill__item:nth-child(6) {
  grid-area: bl6;
}

.skills__container .skill__item:nth-child(7) {
  grid-area: bl7;
}

.skills__container .skill__item:nth-child(8) {
  grid-area: bl8;
}

.skills__container .skill__item:nth-child(9) {
  grid-area: bl9;
}

.skils__botn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0 40px 0;
  width: calc(100% - 20px);
}

.skils__botn .botn {
  font-family: Roboto;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ffffff;
  display: inline-block;
  border: 2px solid #2d3651;
  background-color: rgba(45, 54, 81, 0.8);
  padding: 19px 95px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.skils__botn .botn:hover {
  background-color: #d66926;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.description {
  background-color: #e5e5e5;
}

.description__container {
  max-width: 1340px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 20px 0 20px;
}

.description__container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.description__container-pic {
  display: block;
}

.description__text {
  padding: 97px 0 85px 0;
  margin: 0 80px 0 0;
}

.description__text-title {
  font-family: "Roboto Slab";
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 48px;
  max-width: 453px;
  color: #2d3651;
  margin: 0 0 47px 0;
}

.description__text-subtitle {
  font-family: Roboto;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 24px;
  color: #637588;
  letter-spacing: 0.9px;
  position: relative;
}

.description__text-subtitle::after {
  content: '';
  position: absolute;
  border-right: 1px solid rgba(112, 112, 112, 0.27);
  height: 200px;
  top: 0;
  right: -40px;
  -webkit-transform: translate(50%);
  -ms-transform: translate(50%);
  transform: translate(50%);
}

.description__text-subtitle p {
  padding-top: 18px;
}

.description__text-subtitle p:nth-child(1) {
  padding-top: 0px;
}

.post__container {
  max-width: 1340px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 20px 0 20px;
}

.post__title {
  font-family: "Roboto Slab";
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 48px;
  color: #2d3651;
  text-align: left;
  width: 100%;
  padding-top: 98px;
  margin-bottom: 50px;
}

.post__block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: "gb1 gb1 gb2 gb3" "gb4 gb5 gb6 gb6";
}

.post__block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background-color: #e5e5e5;
  min-height: 550px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.post__block__info:nth-child(1) {
  grid-area: gb1;
}

.post__block__info:nth-child(2) {
  grid-area: gb2;
}

.post__block__info:nth-child(3) {
  grid-area: gb3;
}

.post__block__info:nth-child(4) {
  grid-area: gb4;
}

.post__block__info:nth-child(5) {
  grid-area: gb5;
}

.post__block__info:nth-child(6) {
  grid-area: gb6;
}

.post__block__info:hover {
  background-color: #d5d5d5;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.post__block__info:hover .post__block__info-subtitle {
  color: #2d3651;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.post__block__info:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.post__block__info:hover .post__block__info-container .post__block__title {
  color: #2d3651;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.post__block__info-img {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  overflow: hidden;
}

.post__block__info-img img {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.post__block__info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 250px;
  flex: 1 0 250px;
}

.post__block__info-container .post__block__title {
  text-align: center;
  color: #2d3651;
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 20px;
  padding: 10px 16px 19px 16px;
  padding-bottom: 19px;
  color: #637588;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.post__block__info-container .post__block__subtitle {
  font-family: Roboto;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 20px;
  letter-spacing: 0.9px;
  color: #637588;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  text-align: center;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.post__button {
  margin: 0 auto;
  padding: 20px 0 100px 0;
}

.post__button .botn {
  font-family: Roboto;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ffffff;
  display: inline-block;
  border: 2px solid #2d3651;
  background-color: rgba(45, 54, 81, 0.8);
  padding: 19px 95px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.post__button .botn:hover {
  background-color: #d66926;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

input::-webkit-input-placeholder {
  color: #637588;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form {
  background-color: #2d3651;
}

.form__container {
  font-family: Roboto;
  max-width: 1340px;
  margin: 0 auto;
  width: 100%;
  padding: 30px 10px 30px 10px;
}

.form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

.form__form .form-type {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.form__form .form-type__name {
  display: block;
  height: 60px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: 39px;
  padding: 0 0 0 36px;
  width: 100%;
  background-color: #38405a;
  border-bottom: 2px solid #4c536a;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  caret-color: #fff;
}

.form__form .form-type__name:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #4c546b;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #5e6579;
  border-left: 2px solid #5e6579;
  border-right: 2px solid #5e6579;
}

.form__form .form-type__name:hover::-webkit-input-placeholder {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form__form .form-type__name:focus {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #4c546b;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #5e6579;
  border-left: 2px solid #5e6579;
  border-right: 2px solid #5e6579;
}

.form__form .form-type__name:focus::-webkit-input-placeholder {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form__form .form-type__email {
  display: block;
  height: 60px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: 39px;
  padding: 0 0 0 36px;
  width: 100%;
  background-color: #38405a;
  border-bottom: 2px solid #4c536a;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  caret-color: #fff;
}

.form__form .form-type__email:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #4c546b;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #5e6579;
  border-left: 2px solid #5e6579;
  border-right: 2px solid #5e6579;
}

.form__form .form-type__email:hover::-webkit-input-placeholder {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form__form .form-type__email:focus {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #4c546b;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #5e6579;
  border-left: 2px solid #5e6579;
  border-right: 2px solid #5e6579;
}

.form__form .form-type__email:focus::-webkit-input-placeholder {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form__form .form-type__submit {
  display: block;
  height: 60px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: 39px;
  width: 100%;
  background-color: #424B63;
  border-bottom: 2px solid #5D6375;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.form__form .form-type__submit:hover {
  background-color: #d66926;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: none;
  border: 2px solid #fff;
}

@media (max-width: 991.99px) and (min-width: 768px) {
  .skills__container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "bl1 bl1 bl2" "bl3 bl4 bl4" "bl5 bl5 bl6" "bl7 bl8 bl6" "bl7 bl9 bl9";
  }
  .post__title {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 3.2px;
    line-height: 40px;
    padding-top: 78px;
    margin-bottom: 40px;
  }
  .post__block {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: "gb1 gb1 gb2" "gb3 gb4 gb4" "gb5 gb5 gb6";
  }
  .post__block__info-container .post__block__subtitle {
    padding: 0 20px 0 20px;
  }
  .post__button {
    padding: 20px 0 80px 0;
  }
}

@media (max-width: 991.9px) and (min-width: 768px) {
  .container .header .header__title .header__company-name {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 3.2px;
  }
  .container .header .header__title .header__buttoms .header__buttom {
    margin: 47px 20px 0 0;
  }
  .container .header .header__title .header__buttoms .header__buttom:last-child {
    margin: 47px 0 0 0;
  }
  .container .header .header__title .header__buttoms .header__buttom .btn {
    padding: 15px 50px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    letter-spacing: 1.6px;
  }
  .description__container-img {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 47px;
  }
  .description__text {
    padding: 77px 0 45px 0;
    margin: 0 50px 0 0;
  }
  .description__text-title {
    font-weight: 700;
    letter-spacing: 3.2px;
    line-height: 40px;
    font-size: 32px;
    max-width: 353px;
    margin: 0 0 34px 0;
  }
  .description__text-subtitle::after {
    right: -25px;
  }
  .description__text-subtitle p:nth-child(4) {
    display: none;
  }
}

@media (max-width: 768px) {
  .container .header .header__menu .header__nav {
    background-color: rgba(67, 72, 87, 0.4);
  }
  .container .header .header__menu .header__nav .header__burger {
    display: block;
  }
  .container .header .header__menu .header__nav .header__nav-bottons {
    position: absolute;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    right: 0;
    top: 100px;
    display: none;
    background-color: rgba(45, 54, 81, 0.85);
  }
  .container .header .header__menu .header__nav .header__nav-bottons .header__nav-list {
    padding: 10px 20px;
  }
  .container .header .header__menu .header__nav .header__nav-bottons .header__nav-list:last-child {
    padding: 10px 0 10px 0;
  }
}

@media (max-width: 767.99px) and (min-width: 576px) {
  .container .header .header__title .header__company-name {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2.4px;
  }
  .container .header .header__title .header__buttoms .header__buttom {
    margin: 47px 20px 0 0;
  }
  .container .header .header__title .header__buttoms .header__buttom:last-child {
    margin: 47px 0 0 0;
  }
  .container .header .header__title .header__buttoms .header__buttom .btn {
    padding: 10px 33px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    letter-spacing: 1.6px;
  }
  .skills__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "bl1 bl2" "bl3 bl2" "bl4 bl4" "bl5 bl6" "bl5 bl7" "bl8 bl9";
  }
  .description__container-img {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 36px;
  }
  .description__container-pic {
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 236px;
  }
  .description__text {
    padding: 58px 0 50px 0;
    margin: 0 30px 0 0;
  }
  .description__text-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2.4px;
    line-height: 32px;
    max-width: 253px;
    margin: 0 0 21px 0;
  }
  .description__text-subtitle::after {
    right: 10px;
  }
  .description__text-subtitle {
    font-size: 16px;
    letter-spacing: 0.8px;
    padding-right: 30px;
  }
  .description__text-subtitle p:nth-child(3) {
    display: none;
  }
  .description__text-subtitle p:nth-child(4) {
    display: none;
  }
  .post__title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2.4px;
    line-height: 32px;
    padding-top: 58px;
    margin-bottom: 30px;
  }
  .post__block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: "gb1 gb2" "gb3 gb4" "gb5 gb6";
  }
  .post__button {
    padding: 20px 0 60px 0;
  }
  .form__form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 575.99px) {
  .container .header .header__title .header__company-name {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2.4px;
    line-height: 1.2;
  }
  .container .header .header__title .header__buttoms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .container .header .header__title .header__buttoms .header__buttom {
    margin: 44px 0 0 0;
  }
  .container .header .header__title .header__buttoms .header__buttom:last-child {
    margin: 20px 0 0 0;
  }
  .container .header .header__title .header__buttoms .header__buttom .btn {
    padding: 10px 35px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    letter-spacing: 1.6px;
  }
  .skills__container {
    margin: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "bl1" "bl2" "bl3" "bl4" "bl5" "bl6" "bl7" "bl8" "bl9";
  }
  .skills__container .skill__item {
    min-height: 43vh;
  }
  .skils__botn {
    width: calc(100% - 40px);
    padding: 0 0 25px 0;
  }
  .skils__botn .botn {
    padding: 19px 0;
    width: 100%;
    text-align: center;
  }
  .description__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 20px 0 20px;
  }
  .description__container-img {
    padding: 0 0 72px 0;
  }
  .description__text {
    margin: 0 0 0 0;
    padding: 57px 0 39px 0;
  }
  .description__text-title {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2.4px;
    line-height: 32px;
    max-width: 253px;
    padding: 0 0 21px 0;
  }
  .description__text-subtitle::after {
    display: none;
  }
  .description__text-subtitle p:nth-child(4) {
    display: none;
  }
  .description__text-subtitle {
    font-size: 16px;
    letter-spacing: 0.8px;
    padding-right: 0;
  }
  .post__title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2.4px;
    line-height: 32px;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 28px;
  }
  .post__block {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: "gb1" "gb2" "gb3" "gb4" "gb5" "gb6";
  }
  .post__button {
    padding: 20px 0 20px 0;
    width: 100%;
  }
  .post__button .botn {
    padding: 19px 0px;
    width: 100%;
    display: block;
    text-align: center;
  }
}
