@import "mixins";
a {
    color: #fff;
}
.container{
    margin: 0 auto;
    font-family: Roboto;
    .header{
        position: relative;
        min-height: 100vh;
        background-image: url(../img/header/img-header.png);
        background-size: cover;
        background-position: 50% 50%;
        color: #ffffff;
        .header__overlay{
            position: absolute;
            z-index: 2;
            background-color: rgba($color: #2d3651, $alpha: 0.7);
            width: 100%;
            height: 100%;
        }
        .header__menu{
            position: relative;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            z-index: 3;
            
            // Верхняя часть меню
            .header__nav{
                @include flex-r;
                justify-content: space-between;
                width: 100%;
                position: relative;
                padding: 40px 30px 40px 30px;
                @media (max-width: 768px) {
                    background-color: rgba($color: #434857, $alpha: 0.4);
                }
                // Лого
                .header__logo{
                    @include text-style (24);
                    letter-spacing: 4.8px;
                    line-height: 20px;
                    text-transform: uppercase;
                    position: relative;
                    &::before{
                        content: '';
                        border: solid 3px #d53d27;
                        width: 80px;
                        height: 60px;
                        position: absolute;
                        top: 50%;
                        left:-5px;
                        transform: translatey(-50%);
                    }
                }

                // Бургер
                .header__burger{
                    display: none;
                    @media (max-width: 768px){
                    display: block;
                    }
                }
                // Кнопки навигици
                .header__nav-bottons{
                    @include flex-r;
                    @include text-style (18);
                    letter-spacing: 1.53px;
                    line-height: 20px;
                    @media (max-width: 768px){
                        position: absolute;
                        text-align: center;
                        @include flex-c;
                        right: 0;
                        top:100px;
                        display: none;
                        background-color: rgba($color: #2d3651, $alpha: 0.85);
                        .header__nav-list{
                            padding: 10px 20px;
                            &:last-child{
                                padding: 10px 0 10px 0 ;
                            }
                        }  
                    }
                    &.active{
                        display: block;
                        transition: 0.8s ;
                        
                    }
                    .header__nav-list{
                        padding: 0 20px 0 20px;
                        a {
                            transition: 0.5s;
                        }
                        &:hover a{
                            transition: 0.5s;
                            color:$color-hover;
                        }
                        &:last-child{
                            padding: 0 0 0 20px;
                        }
                    }
                }
            }
            // Нижняя часть меню и заголовок
            .header__title {
                @include flex-c;
                justify-content: center;
                text-align: center;
                .header__company-name{
                    font-family: "Roboto Slab";
                    font-size: 60px;
                    font-weight: 300;
                    letter-spacing: 4.8px;
                    text-transform: uppercase;
                    padding:122px 0 0 0;
                    width: 100%;
                    @media (max-width: 575.99px){
                        font-size: 30px;
                        font-weight: 300;
                        letter-spacing: 2.4px;
                        padding:36px 0 0 0;
                        line-height: 1.2;
                        }
                    @media (max-width: 767.99px)  and (min-width: 576px){
                        font-size: 30px;
                        font-weight: 300;
                        letter-spacing: 2.4px;
                        padding:88px 0 0 0;
                        }
                    @media (max-width: 991.9px) and (min-width: 768px){
                        font-size: 40px;
                        font-weight: 300;
                        letter-spacing: 3.2px;
                        padding:78px 0 0 0;
                        }
                }
                // Кнопки
                .header__buttoms{
                    @include flex-r;
                    margin: 0 auto;
                    @media (max-width: 575.99px){
                        @include flex-c;
                        
                        }
                    .header__buttom{
                        margin: 60px 20px 0 0;
                        @media (max-width: 575.99px){
                            margin: 44px 0 0 0;
                            }
                        @media (max-width: 767.99px) and (min-width: 576px) {
                            margin: 47px 20px 0 0;
                            }
                        @media (max-width: 991.9px) and (min-width: 768px){
                            margin: 47px 20px 0 0;    
                            }
                        &:last-child{
                            margin: 60px 0 0 0;
                            @media (max-width: 575.99px){
                                margin: 20px 0 0 0;
                                }
                            @media (max-width: 767.99px) and (min-width: 576px){
                                margin: 47px 0 0 0;
                                }
                            @media (max-width: 991.9px) and (min-width: 768px){
                                margin: 47px 0 0 0;    
                                }
                        }
                        .btn{
                            @include text-style;
                            display: block;
                            letter-spacing: 1.89px;
                            padding: 19px 68px;
                            border: solid 2px $btn-border;
                            background-color: rgba($color: #434857, $alpha: 0.5);
                            transition: 0.5s;
                            @media (max-width: 575.99px){
                                padding: 10px 35px;
                                @include text-style (16);
                                letter-spacing: 1.6px;
                                }
                            @media (max-width: 767.99px) and (min-width: 576px){
                                padding: 10px 33px;
                                @include text-style (16);
                                letter-spacing: 1.6px;
                                }
                            @media (max-width: 991.9px) and (min-width: 768px){
                                padding: 15px 50px;
                                @include text-style (16);
                                letter-spacing: 1.6px;
                                }
                            &:hover{
                                background-color: $color-hover;
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }
    // Бургер оформление
.header__burger{
    height: 20px;
    width: 30px;
    position: relative;
    &::after,
    &::before,
    span{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    }
    &::after{
      bottom: 0;
    }
    span{
      top: 50%;
      transform: translatey(-50%);
    }
    // При активном бургере
    &.active {
      z-index: 5;
      &::after{
        top: 50%;
        transform: translatey(-50%);
        transform: rotate(45deg);
        transition: 0.3s;
      }
      span{
        opacity: 0;
        transition: 0.3s;
      }
      &::before{
        top: 50%;
        transform: translatey(-50%);
        transform: rotate(-45deg);
        transition: 0.3s;
      }
    }
      
}
}

