@import "mixins";
a {
    color: #fff;
}
.container{
    margin: 0 auto;
    font-family: Roboto;
    .header{
        position: relative;
        min-height: 100vh;
        background-image: url(../img/header/img-header.png);
        background-size: cover;
        background-position: 50% 50%;
        color: #ffffff;
        .header__overlay{
            position: absolute;
            z-index: 2;
            background-color: rgba($color: #2d3651, $alpha: 0.7);
            width: 100%;
            height: 100%;
        }
        .header__menu{
            position: relative;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            z-index: 3;
            padding: 40px 25px 0 25px;
            
            // Верхняя часть меню
            .header__nav{
                @include flex-r;
                justify-content: space-between;
                width: 100%;
                .header__logo{
                    @include text-style (24);
                    letter-spacing: 5.52px;
                    line-height: 20px;
                    text-transform: uppercase;
                    position: relative;
                    &::before{
                        content: '';
                        border: solid 3px #d53d27;
                        width: 80px;
                        height: 60px;
                        position: absolute;
                        top: 50%;
                        left:-5px;
                        transform: translatey(-50%);
                    }
                }
                .header__nav-bottons{
                    @include flex-r;
                    @include text-style (18);
                    letter-spacing: 1.53px;
                    line-height: 20px;
                    .header__nav-list{
                        padding: 0 20px 0 20px;
                        &:last-child{
                            padding: 0 0 0 20px;
                        }
                    }
                }
            }
            // Нижняя часть меню и заголовок
            .header__title {
                @include flex-c;
                text-align: center;
                .header__company-name{
                    font-family: "Roboto Slab";
                    font-size: 60px;
                    font-weight: 300;
                    letter-spacing: 4.8px;
                    text-transform: uppercase;
                    padding:162px 0 0 0;
                    width: 100%;
                }
                .header__buttoms{
                    @include flex-r;
                }
            }
        }
    }
}