@import "mixins";

.skills__container{
    margin: 10px;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "bl1 bl1 bl2 bl3"
        "bl4 bl5 bl5 bl6"
        "bl7 bl8 bl9 bl6";
    @media (max-width: 991.99px) and (min-width: 768px){
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "bl1 bl1 bl2"
        "bl3 bl4 bl4"
        "bl5 bl5 bl6"
        "bl7 bl8 bl6"
        "bl7 bl9 bl9";             
    }
    @media (max-width: 767.99px)  and (min-width: 576px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "bl1 bl2"
            "bl3 bl2"
            "bl4 bl4"
            "bl5 bl6"
            "bl5 bl7"
            "bl8 bl9";   
        }
    @media (max-width: 575.99px){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "bl1"
            "bl2"
            "bl3"
            "bl4"
            "bl5"
            "bl6"
            "bl7"
            "bl8"
            "bl9"; 
            }
    .skill__item{
        // background: url(../img/img-html.png);
        width: 100%;
        height: 100%;
        position: relative;
        min-height: calc(33vh - 12px);
        overflow: hidden;
        &:hover .skill__item__img{
            transform: scale(1.1);
        }
        &__overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba($color: #2d3651, $alpha: 0.8);
            z-index: -1;
        }
        &__img{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-position: 50% 50%;
            background-size: cover;
            transition: 0.5s;
            z-index: -2;
            
        }
        &__title{
            height: 100%;
            z-index: 5;
            .skill__item__link{
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                @include text-style (19);
                color: #ffffff;
                font-weight: 700;
                letter-spacing: 1.5px;
                z-index: 5;
                &:hover{
                    color:$color-hover;
                }
            }
        }
        &:nth-child(1){
            grid-area: bl1;
        }
        &:nth-child(2){
            grid-area: bl2;
        }
        &:nth-child(3){
            grid-area: bl3;
        }
        &:nth-child(4){
            grid-area: bl4;
        }
        &:nth-child(5){
            grid-area: bl5;
        }
        &:nth-child(6){
            grid-area: bl6;
        }
        &:nth-child(7){
            grid-area: bl7;
        }
        &:nth-child(8){
            grid-area: bl8;
        }
        &:nth-child(9){
            grid-area: bl9;
        }
    }
    
}