// Флексы

// Флексы в ряд
@mixin flex-r {
    display: flex;
    flex-direction: row;
}
// Флексы в колонку
@mixin flex-c {
    display: flex;
    flex-direction: column;
}

// Стиль текста

// основной
@mixin text-style ($fz:18) {
    font-family: Roboto;
    color: #ffffff;
    font-size: $fz+px;
    font-weight: 400;
    letter-spacing: 2px;
}
@mixin text-description-title {
    font-family: "Roboto Slab";
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 48px; 
}

@mixin post-block-title {
    color: #2d3651;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    line-height: 20px;
    
}
@mixin form-text {
    
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    line-height: 39px;
}

// Переменные цвета
 $overlay:#2d3651;
 $color-hover:#d66926;
 $btn-border:#f9f9fa;
 $bckg-description:#e5e5e5;
 $descr-color:#637588;
 $another-color:#d5d5d5;
 $form-color:#2d3651;
 $input-color:#38405a;



//  
